* {
    box-sizing: border-box;
}

body, html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

h1,h2,h3,h4 {
    padding: 0;
    margin: 0;
}

main, header, footer {
    display: flex;
    justify-content: center;
}
body {
    background-color: slategray;
    font-family: 'Oswald', sans-serif;
}
.height {
    height: 25%;
}

.main-section {
    height: 350px;
    width: 50%;
    background-color: steelblue;
    border: solid navy 5px;
    border-radius: 2%;
}
.main-container {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
}
.input-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.buttons {
    display: grid;
    grid-template-rows: 20px 40px 40px 40px 40px;
    justify-content: center;
    align-content: center;
    row-gap: 2%;
}
button {
    border: 2px dotted navy;
    border-radius: 5px;
    background-color:lightskyblue;
    font-weight: bolder;
}
.display-results {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.result {
    height: 0px;
    text-align: center;
    background-color: lightskyblue;
}
.input {
    width: 50%;
    background-color: lightskyblue;
}